// -------------------------------
//     TYPOGRAPHY VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*
    @import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap';
    $base__font-family: "Montserrat", sans-serif; // 400, 600, 700
    $base__font-size: 16px;
    $base__font-size--small: 0.75em;
    $base__font-size--large: 1.125em;
    $base__font-size--x-large: 1.5em;
    $base__font-weight: 400;
    $base__font-weight--light: 300;
    $base__font-weight--bold: 700;

    $heading__font-size--x-large: 3em;

// -------------------------------
//     TYPOGRAPHY STYLES
// -------------------------------

    // *--------- GENERAL ---------*
    body {
        font: $base__font-weight #{$base__font-size}/1 $base__font-family;
        color: $base__text-color;
    }

    strong {
        font-weight: $base__font-weight--bold;
    }

    a {
        @extend %transitionColor;
    }

    // *--------- HEADINGS ---------*
    .heading {
        font-family: $base__font-family;
        font-weight: $base__font-weight--bold;

        &--small {
            font-size: $base__font-size;
        }

        &--x-large {
            font-size: $heading__font-size--x-large;
        }
    }

    // *--------- TEXT ---------*
    .content {

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 10px;
        }

        img {
            max-width: 100%;
        }

        ul {
            padding-left: 30px;

            li {
                line-height: 28px;
            }
        }
    }