// ---------------------
//     BASE
// ---------------------

    // *--------- LAYOUT ---------*

    // *--------- COLORS ---------*
    $base__text-color: #000;
    $base__text-color--lighter: #121146;
    $title-cat__text-color: #151515;
    $title-cat__background-color: #ECEEF6;
    $base__border-color: #ECEEF7;